@mixin headings($from: 1, $to: 6) {
    @for $i from $from through $to {
        h#{$i} {
            @content
        }
    }
}

.title--middle {
    line-height: 0.5;
    text-align: center;
    overflow: hidden;
    @include headings {
        display: inline-block;
        position: relative;
        &:before,
        &:after {
            content: "";
            position: absolute;
            height: 0;
            border-bottom: 1px solid black;
            top: 7px;
            width: 600px;
        }
        &:before {
            right: 100%;
            margin-right: 15px;
        }
        &:after {
            left: 100%;
            margin-left: 15px;
        }
    }
    @media (max-width: 480px) {
        text-align: left;
        margin-top: 24px;
        padding-top: 24px;
        border-top: 1px solid black;
        @include headings {
            &:before,
            &:after {
                display: none;
            }
        }
    }
}
